<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <customErrors mode="On" />
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".ipa" mimeType="application/iphone" />
      <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
      <mimeMap fileExtension=".alljson" mimeType="application/x-javascript" />
      <mimeMap fileExtension=".plist" mimeType="text/xml" />
    </staticContent>
  </system.webServer>
</configuration>